<div style="display: flex; flex-direction: column; height: 100cqh;container-name: tab-container; container-type: inline-size;">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" style="height: 100cqh">
    <mat-tab label="User Creation" >
      <app-user-creation style="height: 100cqh"></app-user-creation>
    </mat-tab>
    <mat-tab label="User Overview" style="height: 100cqh">
      <app-user-overview></app-user-overview>
    </mat-tab>
    <mat-tab label="SMTP Settings" style="height: 100cqh">
      <app-smtp-overview></app-smtp-overview>
    </mat-tab>
  </mat-tab-group>
</div>