<div [ngSwitch]="reminder.type">
    <div *ngSwitchCase="EmailType.ONCE">
        <div style="display: flex;">
            <p>This event occurs on</p>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput value="Test" [ngModel]="reminder.nextEvent | date : selectedDateFormat">
                <input matInput style="display: none;" [matDatepicker]="picker" [min]="todayDate" (dateChange)="onNextDateChange($event)" value="Test">
                <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
        </div>

        <div style="display: flex;">
            <p>at</p><mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.hour" required>
                    <mat-option *ngFor="let i of hoursOfDay" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>:</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.minute" required>
                    <mat-option *ngFor="let i of minutesOfHour" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngSwitchCase="EmailType.DAILY">

        <div style="display: flex;">
            <p>This event occurs on these days:</p>
            <mat-checkbox [(ngModel)]="week.monday" (click)="onDailyClick()">Monday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.tuesday" (click)="onDailyClick()">Tuesday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.wednesday" (click)="onDailyClick()">Wednesday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.thursday" (click)="onDailyClick()">Thursday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.friday" (click)="onDailyClick()">Friday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.saturday" (click)="onDailyClick()">Saturday</mat-checkbox>
            <mat-checkbox [(ngModel)]="week.sunday" (click)="onDailyClick()">Sunday</mat-checkbox>
        </div>

        <div style="display: flex;">
            <p>at</p><mat-form-field>

                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.hour" required>
                    <mat-option *ngFor="let i of hoursOfDay" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>:</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.minute" required>
                    <mat-option *ngFor="let i of minutesOfHour" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngSwitchCase="EmailType.WEEKLY">

         <div style="display: flex;">
           <p>This event occurs every</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)"  (selectionChange)="onWeeklyChange($event)" required>
                    <mat-option [value]="0">Monday</mat-option>
                    <mat-option [value]="1">Tuesday</mat-option>
                    <mat-option [value]="2">Wednesday</mat-option>
                    <mat-option [value]="3">Thursday</mat-option>
                    <mat-option [value]="4">Friday</mat-option>
                    <mat-option [value]="5">Saturday</mat-option>
                    <mat-option [value]="6">Sunday</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div style="display: flex;">
            <p>at</p><mat-form-field>

                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.hour" required>
                    <mat-option *ngFor="let i of hoursOfDay" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>:</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.minute" required>
                    <mat-option *ngFor="let i of minutesOfHour" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div *ngSwitchCase="EmailType.MONTHLY">

        <div style="display: flex;">
            <p>This event occurs on the</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.dayOfMonth" required>
                    <mat-option *ngFor="let i of daysOfMonth" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>day of every month</p>
        </div>
        <div style="display: flex;">
            <p>at</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.hour" required>
                    <mat-option *ngFor="let i of hoursOfDay" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>:</p>
            <mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.minute" required>
                    <mat-option *ngFor="let i of minutesOfHour" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngSwitchCase="EmailType.YEARLY">

        <div style="display: flex;">
            <p>This event occurs every</p>
            <mat-form-field>
                <select matNativeControl [(ngModel)]="selectedMonth" required>
                    <option [value]="Months.JANUARY"> {{ Months[Months.JANUARY] | firstLetterUppercase }}</option>
                    <option [value]="Months.FEBRUARY"> {{ Months[Months.FEBRUARY] | firstLetterUppercase }}</option>
                    <option [value]="Months.MARCH"> {{ Months[Months.MARCH] | firstLetterUppercase }}</option>
                    <option [value]="Months.APRIL"> {{ Months[Months.APRIL] | firstLetterUppercase }}</option>
                    <option [value]="Months.MAY"> {{ Months[Months.MAY] | firstLetterUppercase }}</option>
                    <option [value]="Months.JUNE"> {{ Months[Months.JUNE] | firstLetterUppercase }}</option>
                    <option [value]="Months.JULY"> {{ Months[Months.JULY] | firstLetterUppercase }}</option>
                    <option [value]="Months.AUGUST"> {{ Months[Months.AUGUST] | firstLetterUppercase }}</option>
                    <option [value]="Months.SEPTEMBER"> {{ Months[Months.SEPTEMBER] | firstLetterUppercase }}</option>
                    <option [value]="Months.OCTOBER"> {{ Months[Months.OCTOBER] | firstLetterUppercase }}</option>
                    <option [value]="Months.NOVEMBER"> {{ Months[Months.NOVEMBER] | firstLetterUppercase }}</option>
                    <option [value]="Months.DECEMBER"> {{ Months[Months.DECEMBER] | firstLetterUppercase }}</option>
                </select>
            </mat-form-field>
        </div>

        <div style="display: flex;">
            <p>on the </p>
            <mat-form-field>
                <select matNativeControl [(ngModel)]="reminder.dayOfMonth" required>
                    <option *ngFor="let i of daysOfMonth" [value]="i">{{i}}</option>
                </select>
            </mat-form-field>
            <p>day of the month </p>
        </div>

        <div style="display: flex;">
            <p>at</p><mat-form-field>
                <mat-select matNativeControl (selectionChange)="onChange($event)" [(ngModel)]="reminder.hour" required>
                    <mat-option *ngFor="let i of hoursOfDay" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p>:</p>
            <mat-form-field>
                <mat-select matNativeControl [(ngModel)]="reminder.minute" (selectionChange)="onChange($event)" required>
                    <mat-option *ngFor="let i of minutesOfHour" [value]="i">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>