<div style="display: flex; flex-direction: row;padding-top: 2rem; min-height: 100cqh;">
    <mat-stepper [linear]="true" #stepper style=" width: 100cqw;">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Choose your reminder</ng-template>
                <mat-form-field>
                    <mat-label>Choose your type</mat-label>
                    <select matNativeControl formControlName="firstCtrl" required>
                        <option value="" selected></option>
                        <option value="EmailType.ONE_TIME">{{ EmailType[EmailType.ONE_TIME] | firstLetterUppercase }}</option>
                        <option value="EmailType.DAILY">{{ EmailType[EmailType.DAILY] | firstLetterUppercase }}</option>
                        <option value="EmailType.WEEKLY">{{ EmailType[EmailType.WEEKLY] | firstLetterUppercase }}</option>
                        <option value="EmailType.MONTHLY">{{ EmailType[EmailType.MONTHLY] | firstLetterUppercase }}</option>
                        <option value="EmailType.YEARLY">{{ EmailType[EmailType.YEARLY] | firstLetterUppercase }}</option>
                    </select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [completed]="isSecondCompleted" label="Fill out information">
            <app-configure-reminder></app-configure-reminder>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>