
    <h3 *ngIf="reminder.type != undefined && reminder.type >= 0" style="text-align: center;" >{{ EmailType[reminder.type] | firstLetterUppercase}}</h3>
    <div style="display: flex; flex-direction: row;padding-top: 2rem; min-height: 100cqh;">
    <mat-stepper [linear]="true" #stepper style=" width: 100cqw;">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Choose your reminder</ng-template>
                <mat-form-field>
                    <mat-label>Choose your type</mat-label>
                    <mat-select matNativeControl formControlName="firstCtrl" [(ngModel)]="reminder.type"
                        (selectionChange)="onChange($event)" required>
                        <mat-option [value]="EmailType.ONCE">{{ EmailType[EmailType.ONCE] | firstLetterUppercase
                            }}</mat-option>
                        <mat-option [value]="EmailType.DAILY">{{ EmailType[EmailType.DAILY] | firstLetterUppercase
                            }}</mat-option>
                        <mat-option [value]="EmailType.WEEKLY">{{ EmailType[EmailType.WEEKLY] | firstLetterUppercase
                            }}</mat-option>
                        <mat-option [value]="EmailType.MONTHLY">{{ EmailType[EmailType.MONTHLY] | firstLetterUppercase
                            }}</mat-option>
                        <mat-option [value]="EmailType.YEARLY">{{ EmailType[EmailType.YEARLY] | firstLetterUppercase
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [completed]="isSecondCompleted" label="Fill out information">
            <app-configure-reminder></app-configure-reminder>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSave()">Save</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>