<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let user of users">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{user.username}}
            </mat-panel-title>
            <mat-panel-description>
                {{user.email}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: grid;">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="user.username">
            </mat-form-field><mat-form-field appearance="fill">
                <mat-label>EMail</mat-label>
                <input matInput type="emain" placeholder="someone@example.com" [(ngModel)]="user.email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" [(ngModel)]="user.password">
            </mat-form-field>
            <button mat-raised-button (click)="onUpdateUserClick(user)">Update User</button>
            <button *ngIf="user.role != 0" mat-raised-button (click)="onDeleteUserClick(user)">Delete User</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>